<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8"/>
<title>{if !empty($title['login'])}{$title['login']}{else}登录{/if}</title>
<meta name="keywords" content="{$webset['keyword']}" />
<meta name="description" content="{$webset['description']}" />
{if !empty($webset['icon'])}
<link rel="shortcut icon" href="{$_W['attachurl']}{$webset['icon']}" />
{/if}
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/addons/mogucms_diy/static/default/loginstyle2/css/style.css" tppabs="/addons/mogucms_diy/static/default/loginstyle2/css/style.css" />
<style>
body{height:100%;background:#166fa0;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="/addons/mogucms_diy/static/default/loginstyle2/js/jquery.js"></script>
<script src="/addons/mogucms_diy/static/default/loginstyle2/js/Particleground.js" tppabs="/addons/mogucms_diy/static/default/loginstyle2/js/Particleground.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5c9bbd',
    lineColor: '#5c9bbd'
  });
  
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  //location.href="javascrpt:;"
	  });
});
</script>
</head>
<body>
<form method="post"  id="form1" class="we7-form">
<dl class="admin_login">
 <dt>
  <strong>{if !empty($setting['zhongwen'])}{$setting['zhongwen']}{else}站点后台管理系统{/if}</strong>
  <em>{if !empty($setting['yingwen'])}{$setting['yingwen']}{else}Management System{/if}</em>
 </dt>
 <dd class="user_icon">
  <input type="text" name="username" id="username"  placeholder="账号" class="login_txtbx"/>
 </dd>
 <dd class="pwd_icon">
  <input name="password" id="password" type="password" placeholder="密码" class="login_txtbx"/>
 </dd>
 {if !empty($_W['setting']['copyright']['verifycode'])}
 <dd class="yzml_icon">
  <input name="verify" id="verify" type="text" placeholder="验证码" class="login_yzm"/>
  <a class="logyzmimg" href="javascript:;"><img src="/web/index.php?c=utility&a=code&" id="imgcode" onclick="this.src='/web/index.php?c=utility&a=code&' + Math.random();"></a>
 </dd>
 {/if}
 <dd class="val_icon">
  	<input type="checkbox" class="checkbox" id="rember" name="rember" value="true">记住用户名
 	<a href="/web/index.php?c=user&a=find-password">忘记密码？</a>
 </dd>
 <dd>
  <input name="token" value="{$_W['token']}" type="hidden" />
  <input name="login_type" id="login_type" type="hidden" class="form-control " value="system">
  <input type="button" value="立即登陆" class="submit_btn" onclick="return formcheck();" />
 </dd>
 {if $_W['setting']['register']['open']==1}
 <dd><a class="regbtn" href="{php echo $this->mogucms_url('register')}">立即注册</a></dd>
 {/if}
 {if $isfounder == 1}
 {if !empty($_W['setting']['thirdlogin']['qq']['authstate']) || !empty($_W['setting']['thirdlogin']['wechat']['authstate'])}
         <dd class="tac">使用第三方账号登录</dd>
         <dd class="linklogin">{if !empty($_W['setting']['thirdlogin']['qq']['authstate'])}<a href="{$login_urls['qq']}"><img src="/addons/mogucms_diy/static/admin/images/qqlogin.png"></a>{/if}{if !empty($_W['setting']['thirdlogin']['wechat']['authstate'])}<a href="{$login_urls['wechat']}"><img src="/addons/mogucms_diy/static/admin/images/wxlogin.png"></a>{/if}</dd>
         {/if}
         {/if}
</dl>
</form>
{template 'common/footer-base'}
<script>
document.onkeydown = function(e){
	if(e.keyCode === 13){
		formcheck();
	}
}
function formcheck(){
          var username = $("#username").val();
          var str = /^[1][3,4,5,7,8][0-9]{9}$///手机
          if(username == ''){
            alert("请输入帐号")
            return false
          }
          /*if(str.test(username)){
              $("#login_type").val("mobile");
          }else{
              $("#login_type").val("system");
          }*/
          $.ajax({
              url:"/web/index.php?c=user&a=login",
              type:"POST",
              dataType:'json',
              data:$('#form1').serialize(),
              success: function(data){
                 var url = data.redirect;
				 var logininfo="{$logininfo['tourl']}";
				 var tourl = '{$tourl}';
                 if(url){
                     if(url.indexOf("user") != -1){
						 alert(data.message);
						 $("#imgcode").attr("src","/web/index.php?c=utility&a=code&" + Math.random());
					 }else{
						url = url.replace(".","");
						if(logininfo=="1"){
							window.location.href=tourl;
						}else{
							window.location.href="/web"+url;
						}
					 }
                 }else{
					alert(data.message);
				 }
              }
          });
          return false;
      }
</script>
</body>
</html>
