{template  'common/header'}
<link href="../addons/{php echo $this->gpc['m']}/static/css/ygcsslist.css" rel="stylesheet">
<link href="../addons/{php echo $this->gpc['m']}/static/css/style.css" rel="stylesheet">
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">
            前台访问地址
        </div>
        <div class="panel-body" style="padding: 0px 15px;">
            <div class="row">
                <table class="yg5_tabel col-md-12">
                    <tr class="yg5_tr1" style="height: 50px;">
                        <td class="col-md-1">入口名称</td>
                        <td class="col-md-1">访问地址</td>
                    </tr>

                    <tr class="yg5_tr2" >
                        <td>首页入口</td>
                        <td><a style="color: #428bca;" href="{php echo $this->createMobileUrl('index',array('act'=>'index'));}" target="_blank">{php echo $this->createMobileUrl('index',array('act'=>'index'));}</a></td>
                    </tr>
                    <tr class="yg5_tr2" >
                        <td>产品中心</td>
                        <td><a style="color: #428bca;" href="{php echo $this->createMobileUrl('index',array('act'=>'products'));}" target="_blank">{php echo $this->createMobileUrl('index',array('act'=>'products'));}</a></td>
                    </tr>
                    <tr class="yg5_tr2" >
                        <td>关于我们</td>
                        <td><a style="color: #428bca;" href="{php echo $this->createMobileUrl('index',array('act'=>'about'));}" target="_blank">{php echo $this->createMobileUrl('index',array('act'=>'about'));}</a></td>
                    </tr>
                    <tr class="yg5_tr2" >
                        <td>企业动态</td>
                        <td><a style="color: #428bca;" href="{php echo $this->createMobileUrl('index',array('act'=>'news'));}" target="_blank">{php echo $this->createMobileUrl('index',array('act'=>'news'));}</a></td>
                    </tr>
                    <tr class="yg5_tr2" >
                        <td>联系我们</td>
                        <td><a style="color: #428bca;" href="{php echo $this->createMobileUrl('index',array('act'=>'contact'));}" target="_blank">{php echo $this->createMobileUrl('index',array('act'=>'contact'));}</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(function(){
        $("#yframe-index").addClass("wyactive");
    })
</script>
{template  'common/footer'}