{template "admin/header"}
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>控制面板</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title" style="display:none;">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Forms</a></li>
                                    <li class="active">Basic</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">


                <div class="row">
               
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>编辑文章</strong>
                            </div>
                            <div class="card-body card-block">
                                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="col-lg-10">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">文章标题</label></div>
										<div class="col-12 col-md-6"><input type="text" name="title" value="{$setting['title']}" class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">文章描述</label></div>
										<div class="col-12 col-md-6"><input type="text" name="desc" value="{$setting['desc']}" class="form-control"></div>
                                    </div>
									<div class="row form-group">
                                        <div class="col col-md-3"><label for="selectSm" class=" form-control-label">所属分类</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="cateid" id="selectSm" class="form-control-sm form-control">
											{loop $cates $cate}
                                                <option value="{$cate['id']}" {if $setting['cateid']==$cate['id']}selected{/if}>{$cate['title']}</option>
											{/loop}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">文章内容</label></div>
										
										<div class="col-12 col-md-9">
										{php echo tpl_ueditor('content', $setting['content']);} 
										</div>
                                    </div>
								<div class="row form-group">
								<div class="col-6">
								<button type="submit" class="btn btn-success btn-sm">提交</button>
								</div>
								</div>									
								</div>

                                </form>
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>

                    </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
	{template "admin/footer"}