{php include $this->template('common/header');}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {loop $images $key $item}
            <div class="swiper-slide"><img src="{php echo tomedia($item)}"></div>
            {/loop}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="discript">
        <h1>{$info['title']}</h1>
        {if $info['price'] > 0}
        <span class="price">￥{$info['price']}元</span>
        {/if}
    </div>
    <div class="disinfo-title">产品说明:<img src="../addons/{php echo $this->gpc['m']}/static/mobile/images/return2.png"></div>
    <div class="disinfo-del">
        {php echo htmlspecialchars_decode($info['desc'])}
    </div>
    {if $list}
    <div class="samepro">
        <p>相关产品</p>
        <ul>
            {loop $list $key $item}
            <li>
                <a href="{php echo $this->createMobileUrl('index',array('act'=>'info','goods_id'=>$item['goods_id']));}">  
                    <img src="{php echo tomedia($item['image'])}">
                    <span class="urlfont" >{$item['title']}</span>
                </a>
            </li>
            {/loop}
        </ul>
    </div>
    {/if}
{php include $this->template('common/footer');}
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay : 5000
    });
</script> 


