
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{$webset['webname']}</title>
    <meta name="keywords" content="" />
    <meta name="Description" content=""/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{MODULE_URL}public/default/css/bootstrap.min.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/css/grayscale.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/css/main.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/img/favicon.ico" rel="shortcut icon" />
</head>
<body class="bg_gary" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="nav_mask"></div>
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i></i><i></i><i></i>
                </button>
               <h1><a class="navbar-brand" href="{$_W[‘siteroot’]}"><img src="{if !empty($webset['logo'])}{$_W['attachurl']}{$webset['logo']}{else}{MODULE_URL}public/default/img/logo.png{/if}" alt="{$webset['webname']}"></a></h1>
            </div>
           {template 'default/top'}
        </div>
    </div>
    <div class="wrapper">
        <div class="header_hd" style="background-image:url({MODULE_URL}public/default/img/head-gaoduan.jpg); background-repeat:no-repeat">
            <div class="container">
                <h3>客户案例</h3>
                <h2>{$cid['title']}</h2>
                <div id="case_tab" class="tab">
                    <div>
                        {loop $cates $cate}
                         <a href="/web/index.php?c=account&a=welcome&do=customer&cid={$cate['id']}" class="active">{$cate['title']}</a>
                        {/loop}
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="case_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <p class="name"><span>{$cid['title']}</span></p>
                        <h2 class="ellipsis">{$case['title']}</h2>
                        <a href="{$case['url']}" class="vlink" target="_blank">访问网站</a>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <p class="name"><span>案例说明</span></p>
                        <p class="info">{$case['desc']}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_bd">
            <div class="container">
            {$case['content']}
            </div>
        </div>
        <div class="detail_bt">
            <h3>想做这样的网站？</h3>
            <p>力图数字科技在为您做的，不仅仅是一次设计，而是在与您一起，缔造一个属于您的网络品牌......</p>
            <a href="contact.html" class="detail_contact_btn">立即与我们联系！</a>
        </div>
        <div class="detail_more">
            <a href="kehuminglu.html">
            <div class="arrow_r"><span><i class="iconfont icon-right"></i></span></div>
            <p>浏览全部客户案例</p>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p>{$webset['name']} 版权所有 {$webset['beian']}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="link"><a href="index.html" target="_blank">青岛网站建设</a> <a href="index.html" target="_blank">青岛网站设计</a> <a href="index.html" target="_blank">青岛网站制作</a> <a href="index.html" target="_blank">青岛网络公司</a></p>
            </div>
</div>

    </div>
    <div id="chat" class="chat">
        <div>
        <div>
            <a href="tel:{$webset['phone']}" class="tel" target="_blank"><span><i class="iconfont icon-tel"></i>{$webset['phone']}</span></a>
            <a href="http://wpa.qq.com/msgrd?v=3&uin={$webset['qq']}&site=qq&menu=yes" class="qq" target="_blank"><span><i class="iconfont icon-qq"></i>{$webset['qq']}</span></a>
            <a href="mailto:{$webset['email']}" class="mail" target="_blank"><span><i class="iconfont icon-mail"></i>{$webset['email']}</span></a>
        </div>
        </div>
    </div>
    <script src="{MODULE_URL}public/default/js/jquery.js"></script>
    <script src="{MODULE_URL}public/default/js/bootstrap.min.js"></script>
    <script src="{MODULE_URL}public/default/js/verder.min.js"></script>
    <script src="{MODULE_URL}public/default/js/grayscale.js"></script>
    <script src="{MODULE_URL}public/default/js/main.js"></script>
</body>
</html>
