<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{$webset['webname']}</title>
    <meta name="keywords" content="" />
    <meta name="Description" content=""/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{MODULE_URL}public/default/css/bootstrap.min.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/css/grayscale.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/css/index.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/img/favicon.ico" rel="shortcut icon" />

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="nav_mask"></div>
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i></i><i></i><i></i>
                </button>
                <h1><a class="navbar-brand" href="{$_W[‘siteroot’]}"><img src="{if !empty($webset['logo'])}{$_W['attachurl']}{$webset['logo']}{else}{MODULE_URL}public/default/img/logo.png{/if}" alt="{$webset['webname']}"></a></h1>
            </div>
			{template 'default/top'}

        </div>
    </div>
    <div id="wrap" class="wrapper">
        <div class="pages" id="pages">
            <div class="page page1">
                <div id="slide" class="slide">
				{loop $banners $banner}
                    <div>
                        <div class="bgs" style="background-image: url({$_W['attachurl']}{$banner['image']});"></div>
                        <div class="index_inner">
                            <div class="index_box solgan">
                                <div class="container">
                                    <h3>{$banner['desc']}</h3>
                                    <h2>{$banner['title']}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
				{/loop}	

                </div>
                <div class="index_inner">
                    <div class="index_box">
                        <div class="container index_nav">
                            <ul id="index_nav" class="clearfix">
                                <li><a href="javascript:;" data-index="1"><span>业务</span><i class="iconfont icon-about"></i></a></li>
                                <li><a href="javascript:;" data-index="2"><span>案例</span><i class="iconfont icon-service"></i></a></li>
                                <li><a href="javascript:;" data-index="3"><span>客户</span><i class="iconfont icon-custom"></i></a></li>
                                <li><a href="javascript:;" data-index="4"><span>新闻</span><i class="iconfont icon-news"></i></a></li>
                                <li><a href="javascript:;" data-index="5"><span>联系</span><i class="iconfont icon-contact"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="arrow"><span></span><i class="iconfont icon-arrow"></i></div>
            </div>
            <div class="page page2">
                <div class="index_inner">
                    <div class="index_box item_box">
                        <h2><a href="">服务项目</a></h2>
                        <h5><span class="t">Business</span><span class="page_icon iconfont icon-about"></span></h5>
                        <div class="container">
                            <div class="about_box item_bd">

								{loop $servicecates $servicecate}
                                <div class="card">
                                <a href="/web/index.php?c=account&a=welcome&do=customer&cid={$servicecate['id']}">
                                    <div class="cont">
                                        <div class="card_image" style="background-image: url({$_W['attachurl']}{$servicecate['image']});"></div>
                                        <div class="card_detail">
                                                <span class="icon iconfont {$servicecate['icon']}"></span>
                                                <span class="text">
                                                    <h3>{$servicecate['title']}</h3>
                                                    <p class="line">{$servicecate['desc']}</p>
                                                    <p class="text-r"><span class="more">Learn More &gt;</span></p>
                                                </span>
                                        </div>
                                    </div>
                                </a>
                                </div>
								{/loop}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow"><span></span><i class="iconfont icon-arrow"></i></div>
            </div>
            <div class="page page3">
                <div class="index_inner">
                    <div class="index_box item_box">
                        <h2><a href="#">成功案例</a></h2>
                        <h5><span class="t">Cases</span><span class="page_icon iconfont icon-service"></span></h5>
                        <div class="container">
                            <div class="case_box item_bd">
                                <div class="case_slide">
                                   
                                    <div id="case_slide" data-json='{"data":[
										{loop $cases $case}
                                        {"url":"/web/index.php?c=account&a=welcome&do=detail&id={$case['id']}","img":"{$_W['attachurl']}{$case['homethum']}","type":"{$casecate['title']}","name":"{$case['title']}"},
										{/loop}
										{"url":"case_article.html","img":"img/健斐.jpg","type":"更多案例","name":"点击查看"}
                                    ]}'>
                                    </div>
                                </div>
                                <div class="arr">
                                    <div class="case_arrow_l"><i class="iconfont icon-left"></i></div>
                                    <div class="case_arrow_r"><i class="iconfont icon-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow"><span></span><i class="iconfont icon-arrow"></i></div>
            </div>
            <div class="page page4">
                <div class="index_inner">
                    <div class="index_box item_box">
                        <h2><a href="kehuminglu.html">我们的客户</a></h2>
                        <h5><span class="t">Clients</span></h5>
                        <div class="container">
                            <div class="custom_box item_bd">
                                <div class="clearfix">
                                    <div class="item"><div><span></span><img src="{if !empty($customer['logo1'])}{$_W['attachurl']}{$customer['logo1']}{else}{MODULE_URL}public/default/img/index/logo1.png{/if}" alt="海信集团"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo2'])}{$_W['attachurl']}{$customer['logo2']}{else}{MODULE_URL}public/default/img/index/logo2.png{/if}" alt="中国中化"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo3'])}{$_W['attachurl']}{$customer['logo3']}{else}{MODULE_URL}public/default/img/index/logo3.png{/if}" alt="青岛郑建集团"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo4'])}{$_W['attachurl']}{$customer['logo4']}{else}{MODULE_URL}public/default/img/index/logo4.png{/if}" alt="国家电网青岛公司"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo5'])}{$_W['attachurl']}{$customer['logo5']}{else}{MODULE_URL}public/default/img/index/logo5.png{/if}" alt="青岛承建地产 青岛印象"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo6'])}{$_W['attachurl']}{$customer['logo6']}{else}{MODULE_URL}public/default/img/index/logo6.png{/if}" alt="青岛泰凯英"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo7'])}{$_W['attachurl']}{$customer['logo7']}{else}{MODULE_URL}public/default/img/index/logo7.png{/if}" alt="青岛宝龙地产"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo8'])}{$_W['attachurl']}{$customer['logo8']}{else}{MODULE_URL}public/default/img/index/logo8.png{/if}" alt="青岛亨达集团"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo9'])}{$_W['attachurl']}{$customer['logo9']}{else}{MODULE_URL}public/default/img/index/logo9.png{/if}" alt="青岛市图书馆"></div></div><div class="item">
                                    <div><span></span><img src="{if !empty($customer['logo10'])}{$_W['attachurl']}{$customer['logo10']}{else}{MODULE_URL}public/default/img/index/logo10.png{/if}"  alt="青岛市博物馆"></div></div>
                                    <div class="city"></div>
                                    <div class="names"><span>我们的客户</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow"><span></span><i class="iconfont icon-arrow"></i></div>
            </div>
            <div class="page page5">
                <div class="index_inner">
                    <div class="index_box item_box">
                        <h2><a href="newscenter.html">公司资讯</a></h2>
                        <h5><span class="t">News Center</span><span class="page_icon iconfont icon-news"></span></h5>
                        <div class="container">
                            <div class="news_box item_bd">
                                <ul>
								{loop $articles $article}
                                    <li>
                                      <a href="/web/index.php?c=account&a=welcome&do=article&id={$article['id']}">
                                            <p class="type"><span>{$artcate['title']}</span>/{php echo date("Y.m.d",$artcate['updatetime'])}</p>
                                            <h4 class="title">{$article['title']}</h4>
                                            <p>{$article['desc']}...</p>
                                            <p class="more">Learn More <i class="iconfont icon-right"></i></p>
                                        </a>
                                    </li>
								{/loop}	
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow"><span></span><i class="iconfont icon-arrow"></i></div>
            </div>
            <div class="page page6">
                <div class="index_inner">
                    <div class="index_box item_box">
                        <h2><a href="contact.html">联系我们</a></h2>
                        <h5><span class="t">Contact Us</span><span class="page_icon iconfont icon-contact"></span></h5>
                        <div class="container-fluid">
                            <div class="contact_box item_bd">
                                <ul>
                                    <li>
                                        <div>
                                            <div class="contact">
                                                <div>
                                                <ul class="clearfix">
                                                    <li><span class="icon iconfont icon-qq"></span><span class="text"><p class="tips">QQ</p><p class="num"><a href="http://wpa.qq.com/msgrd?v=3&uin={$webset['qq']}&site=qq&menu=yes" target="_blank">{$webset['qq']}</a></p></span></li>
                                                    <li><span class="icon iconfont icon-tel"></span><span class="text"><p class="tips">电话</p><p class="num"><a href="tel:{$webset['phone']}" target="_blank">{$webset['phone']}</a></p></span></li>
                                                    <li><span class="icon iconfont icon-place"></span><span class="text"><p class="tips">地址</p><p>{$webset['address']}</p></span></li>
                                                    <li><span class="icon iconfont icon-mail"></span><span class="text"><p class="tips">E-Mail</p><p>{$webset['email']}</p></span></li>
                                                </ul>
                                                </div>
                                            </div>
                                            <div class="solgan">
                                                <div>
                                                    <p>{$webset['footer']}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
										
        <!--引用百度地图API-->
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.0&services=true"></script>

  <!--百度地图容器-->
        <div class="map"><div style="width:auto;height:500px; border:#ccc solid 0px;" id="dituContent"></div></div>
 <script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point({$webset['longitude']},{$webset['latitude']});//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.disableScrollWheelZoom();//禁用地图滚轮放大缩小，默认禁用(可不写)
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){

        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"{$webset['webname']}",content:"电话：{$webset['phone']}<br/>地址：{$webset['address']}<br/>WebSite：{$_W['siteroot']}",point:"{$webset['longitude']}|{$webset['latitude']}",isOpen:1,icon:{w:21,h:21,l:23,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="nav_index" class="nav_index">
        <div>
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="chat" class="chat">
        <div>
        <div>
            <a href="tel:{$webset['phone']}" class="tel" target="_blank"><span><i class="iconfont icon-tel"></i>{$webset['phone']}</span></a>
            <a href="http://wpa.qq.com/msgrd?v=3&uin={$webset['qq']}&site=qq&menu=yes" class="qq" target="_blank"><span><i class="iconfont icon-qq"></i>{$webset['qq']}</span></a>
            <a href="mailto:service@leadto.com.cn" class="mail" target="_blank"><span><i class="iconfont icon-mail"></i>{$webset['email']}</span></a>
        </div>
        </div>
    </div>
    <script src="{MODULE_URL}public/default/js/jquery.js"></script>
    <script src="{MODULE_URL}public/default/js/bootstrap.min.js"></script>
    <script src="{MODULE_URL}public/default/js/verder.min.js"></script>
    <script src="{MODULE_URL}public/default/js/grayscale.js"></script>
    <script src="{MODULE_URL}public/default/js/index.js"></script>
</body>
</html>
