<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="keywords" content="" />
    <meta name="Description" content=""/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{MODULE_URL}public/default/css/bootstrap.min.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/css/grayscale.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/css/main.css" rel="stylesheet">
    <link href="{MODULE_URL}public/default/img/favicon.ico" rel="shortcut icon" />
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="nav_mask"></div>
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i></i><i></i><i></i>
                </button>
                <h1><a class="navbar-brand" href="index.html"><img src="{MODULE_URL}public/default/img/logo.png" alt=""></a></h1>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="active">首页</a></li>
                    <li><a href="./index.php?c=account&a=welcome&do=about" class="">关于</a></li>
                    <li><a href="./index.php?c=account&a=welcome&do=service" class="">业务</a></li>
                    <li><a href="./index.php?c=account&a=welcome&do=customer" class="">案例</a></li>
                    <li><a href="./index.php?c=account&a=welcome&do=newslist" class="">信息</a></li>
                    <li><a href="./index.php?c=account&a=welcome&do=contact" class="">联系</a></li>
                    
                </ul>
                <span class="follow"></span>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header_hd" style="background-image:url({MODULE_URL}public/default/img/head-marketing.jpg); background-repeat:no-repeat">
            <div class="container">
                <h3>客户案例</h3>
                <h2>营销型网站设计与策划</h2>
                <div id="case_tab" class="tab">
                    <div>
                        
                         <a href="kehuminglu.html" class="">高端网站设计</a>
                         
                         <a href="case_h5.html" class="">H5与手机站设计</a>
                         
                         <a href="Marketing_website.html" class="active">营销型网站设计</a>
                         
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="case_logo content hidden-xs">
                <div class="case_num">
                    <span class="case_arrow_l iconfont icon-left"></span><span class="case_arrow_r iconfont icon-right"></span>
                </div>
                <p class="tit"><i class="iconfont icon-about"></i>将营销的思想、方法和技巧融入到网站策划、设计与制作中</p>
                <div id="case_slide" class="case_slide">
                    <div>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo1.png" class="logo1" alt="国家电网青岛公司"></a><img src="{MODULE_URL}public/default/img/logo/logo1_.png" class="logo2" alt="国家电网青岛公司"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo2.png" class="logo1" alt="中国中化"></a><img src="{MODULE_URL}public/default/img/logo/logo2_.png" class="logo2" alt="中国中化"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo3.png" class="logo1" alt="海信集团"></a><img src="{MODULE_URL}public/default/img/logo/logo3_.png" class="logo2" alt="海信集团"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo4.png" class="logo1" alt="青岛泰凯英"></a><img src="{MODULE_URL}public/default/img/logo/logo4_.png" class="logo2" alt="青岛泰凯英"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo5.png" class="logo1" alt="青岛城建地产 青岛印象"></a><img src="{MODULE_URL}public/default/img/logo/logo5_.png" class="logo2" alt="青岛城建地产 青岛印象"></span></span>
                    </div>
                    <div>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo6.png" class="logo1" alt="海信地产"></a><img src="{MODULE_URL}public/default/img/logo/logo6_.png" class="logo2" alt="海信地产"></span></span>
                        <span><span><img src="{MODULE_URL}public/default/img/logo/logo7.png" class="logo1" alt="青岛宝龙地产"><img src="{MODULE_URL}public/default/img/logo/logo7_.png" class="logo2" alt="青岛宝龙地产"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo8.png" class="logo1" alt="青岛博物馆"></a><img src="{MODULE_URL}public/default/img/logo/logo8_.png" class="logo2" alt="青岛博物馆"></span></span>
                        <span><span><a href="http://www.hengda-group.com/index.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo9.png" class="logo1" alt="青岛亨达集团"></a><img src="{MODULE_URL}public/default/img/logo/logo9_.png" class="logo2" alt="青岛亨达集团"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo10.png" class="logo1" alt="青岛政建集团"></a><img src="{MODULE_URL}public/default/img/logo/logo10_.png" class="logo2" alt="青岛政建集团"></span></span>
                    </div>
                    <div>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo11.png" class="logo1" alt="青岛市图书馆"></a><img src="{MODULE_URL}public/default/img/logo/logo11_.png" class="logo2" alt="青岛市图书馆"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo12.png" class="logo1" alt="埃斯倍传动SSB"></a><img src="{MODULE_URL}public/default/img/logo/logo12_.png" class="logo2" alt="埃斯倍传动SSB"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo13.png" class="logo1" alt="青岛海信网络科技"></a><img src="{MODULE_URL}public/default/img/logo/logo13_.png" class="logo2" alt="青岛海信网络科技"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo14.png" class="logo1" alt="青岛波尼亚"></a><img src="{MODULE_URL}public/default/img/logo/logo14_.png" class="logo2" alt="青岛波尼亚"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo15.png" class="logo1" alt="鲁曹高新"></a><img src="{MODULE_URL}public/default/img/logo/logo15_.png" class="logo2" alt="鲁曹高新"></span></span>
                    </div>
                    <div>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo16.png" class="logo1" alt="英睿健康会"></a><img src="{MODULE_URL}public/default/img/logo/logo16_.png" class="logo2" alt="英睿健康会"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo17.png" class="logo1" alt="青岛鑫三利"></a><img src="{MODULE_URL}public/default/img/logo/logo17_.png" class="logo2" alt="青岛鑫三利"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo18.png" class="logo1" alt="冰岛旅游"></a><img src="{MODULE_URL}public/default/img/logo/logo18_.png" class="logo2" alt="冰岛旅游"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo19.png" class="logo1" alt="长空电器"></a><img src="{MODULE_URL}public/default/img/logo/logo19_.png" class="logo2" alt="长空电器"></span></span>
                        <span><span><a href="case_article.html" target="_blank"><img src="{MODULE_URL}public/default/img/logo/logo20.png" class="logo1" alt="青岛至聪医疗集团"></a><img src="{MODULE_URL}public/default/img/logo/logo20_.png" class="logo2" alt="青岛至聪医疗集团"></span></span>
                    </div>
                </div>
            </div>
            <div class="content">
            
                <div class="row">
               
                    <div class="case_item col-md-8 col-sm-8 col-xs-8">
                        <a href="case_article.html" target="_blank">
                            <span>
                                <img src="{MODULE_URL}public/default/img/case_list_pic/_泰凯英.jpg" alt="泰凯英英文官网">
                                <span><span><span><p class="type">营销型网站设计</p><h3>泰凯英英文官网</h3><i class="more iconfont icon-right"></i></span></span></span>
                            </span>
                            <p>泰凯英英文官网</p>
                        </a>
                    </div>

                    
                    <div class="case_item aside col-md-4 col-sm-4 col-xs-4">
                        <a href="case_article.html" target="_blank"><span><img src="{MODULE_URL}public/default/img/case_list_pic/长空-right.jpg" alt="长空电器官网设计">
                                <span><span><span><p class="type">营销型网站设计</p><h3>长空电器官网设计</h3><i class="more iconfont icon-right"></i></span></span></span>
                                </span>
                        <p>长空电器官网设计</p></a>
                    </div>

                
                </div>
                
            

                <div class="row">
                    <div class="case_item col-md-4 col-sm-6 col-xs-6">
                        <a href="case_article.html" target="_blank"><span><img src="{MODULE_URL}public/default/img/case_list_pic/瑞勤.jpg" alt="美国瑞勤物流">
                                <span><span><span><p class="type">营销型网站设计</p><h3>美国瑞勤物流</h3><i class="more iconfont icon-right"></i></span></span></span></span>
                        <p>美国瑞勤物流</p></a>
                    </div><div class="case_item col-md-4 col-sm-6 col-xs-6">
                        <a href="case_article.html" target="_blank"><span><img src="{MODULE_URL}public/default/img/case_list_pic/肇源石化.jpg" alt="肇源石化官网设计">
                                <span><span><span><p class="type">营销型网站设计</p><h3>肇源石化</h3><i class="more iconfont icon-right"></i></span></span></span></span>
                        <p>肇源石化官网设计</p></a>
                    </div><div class="case_item col-md-4 col-sm-6 col-xs-6">
                        <a href="case_article.html" target="_blank"><span><img src="{MODULE_URL}public/default/img/case_list_pic/路迈.jpg" alt="LUXXAN 路迈英文-泰凯英">
                                <span><span><span><p class="type">营销型网站设计</p><h3>路迈英文(泰凯英)</h3><i class="more iconfont icon-right"></i></span></span></span></span>
                        <p>LUXXAN 路迈英文-泰凯英</p></a>
                    </div><div class="case_item col-md-4 col-sm-6 col-xs-6">
                        <a href="case_article.html" target="_blank"><span><img src="{MODULE_URL}public/default/img/case_list_pic/ruogucaotang.jpg" alt="若谷草堂官网">
                                <span><span><span><p class="type">营销型网站设计</p><h3>HTML5网站设计</h3><i class="more iconfont icon-right"></i></span></span></span></span>
                        <p>若谷草堂官网</p></a>
                    </div>
                    
                </div>
                <div class="page"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p>{$webset['name']} 版权所有 {$webset['beian']}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="link"><a href="index.html" target="_blank">青岛网站建设</a> <a href="index.html" target="_blank">青岛网站设计</a> <a href="index.html" target="_blank">青岛网站制作</a> <a href="index.html" target="_blank">青岛网络公司</a></p>
            </div>
</div>

    </div>
    <div id="chat" class="chat">
        <div>
        <div>
            <a href="tel:053285810878" class="tel" target="_blank"><span><i class="iconfont icon-tel"></i>0532-85810878</span></a>
            <a href="qq.html" class="qq" target="_blank"><span><i class="iconfont icon-qq"></i>473587358</span></a>
            <a href="mailto:service@leadto.com.cn" class="mail" target="_blank"><span><i class="iconfont icon-mail"></i>service@leadto.com.cn</span></a>
        </div>
        </div>
    </div>
    <script src="{MODULE_URL}public/default/js/jquery.js"></script>
    <script src="{MODULE_URL}public/default/js/bootstrap.min.js"></script>
    <script src="{MODULE_URL}public/default/js/verder.min.js"></script>
    <script src="{MODULE_URL}public/default/js/grayscale.js"></script>
    <script src="{MODULE_URL}public/default/js/main.js"></script>
</body>
</html>
