body{background-color: #F5F7F9;}
.nav.nav-tabs{border-color:#20a0ff;}
.nav-tabs>li>a:hover{border-color:#eee #eee #20a0ff #eee;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background-color:#20a0ff; border-color:#20a0ff;}
.nav-tabs>li>a {border-radius: 0 0 0 0;}
.nav{background-color: white;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #FFF;
	background-color: #20a0ff;
	border-color: #20a0ff;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	color: #444444;
}
.list-group-item.active{
	background-color: #edf6ff;
	border:none;
	color: #444444;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #20a0ff
}
.block {
	display: block;
}
.clear {
	display: block;
	overflow: hidden;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 40px
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
	color: #777;
	background-color: #eee;
}
.big-menu{
	background-color: #444;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 10px;
	height: 95%;
	width: 150px;
	position: fixed;
	left: 0px;
	top: 50px;
	z-index: 88;
	overflow-y: scroll;
}
.navback{
	background-color: white;
	width: 110px;
	height: 100%;
	position: fixed;
	left: 150px;
	top: 50px;
	z-index: 80;
	color: #666;
	line-height: 50px;
	border-right: 1px solid #eee;
}
.therji{
	background-color: white;
	width: 109px;
	position: fixed;
	left: 150px;
	top: 50px;
	z-index: 89;
	color: #666;
	line-height: 50px;
	display: none;
}
.therji:nth-child(1){display: block;}
.therji>li:nth-child(1){
	margin-top: 20px;
}
.big-menu .panel .list-group-item{
	border:none;overflow:hidden; white-space:normal; text-overflow:clip;
	font-size: 13px;
	height: 50px;
	padding: 0px 15px;
}
.panel>.list-group .list-group-item{padding-left: 34px;}
.big-menu .panel .list-group-item:hover{
	background-color: #edf6ff;
	color:#444444;
}
.btn-primary {
	color: #fff;
	background-color: #0066cd;
	border-color: #0066cd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #0066cd;
	border-color: #0066cd;
}
.open{position: relative;}
.big-menu .panel .panel-heading .panel-title{
	width: 100px;
	float: left;
	font-size: 14px;
}
.dropdown-menu{left:32px;}
.big-menu .panel .panel-heading .panel-title .fa{font-size: 16px;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse
.navbar-nav>.active>a:focus{
	color: #f60;
	background-color: #e7e7e7;
	border-bottom: 2px solid transparent;
	border-color: #f60;
}
button{outline: none;}
.left{float: left;}
.right{float: right;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
ul{margin-bottom: 0px;}
body{font-size: 14px;font-family: "微软雅黑";}
.clearfix{clear:both;}
.header{
	background-color: #444;
	color: #fff;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 90;
	width: 100%;
	border-bottom:1px solid #eee;
}
.header_left{
	height: 50px;
	padding-top: 10px;
	float: left;
}
.wheaderbox{
	color: #fff;
	padding: 10px 5px 0px 20px;
	float: left;
}
.header_logo{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin-right: 10px;
}
.header_title{
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
}
.header_right{
	height: 50px;
	padding: 8px 0px;
	float: right;
	margin-right: 54px;
	width: 400px;
}
.header_right a{
	color: #fff;
}

.header_right>li>a:hover{color: #666;}
.header_right>li{
	float: left;
	padding: 0px 20px;
	border-right: 1px solid #eee;
	line-height: 33px;
}
.ymargin{
	float: right;
	width: 30px;
	height: 30px;
	margin-top: 5px;
}
.yg_back{
	margin-left: 260px;
	margin-top: 50px;
}
.yyhome{font-size: 26px;position: relative;}
.yyhome:hover .fanhuihome{display: block;}
.fanhuihome{position: absolute;top: 40px;left: 0px;font-size: 14px;width: 100px;display: none;}
.wyactive{background-color: #39485D;border-left: 3px solid #444444;}
.panel-default>.navtitle{background-color: #444444;color: white;border:none;}
.big-menu .panel .panel-heading .wytitle{height: 50px;padding: 15px 15px;width: 130px;}
.navtitle{padding: 0px;}
.panel,.panel-heading{border-radius: 0px;}
.list-group-item:last-child,.list-group-item:first-child{border-radius: 0px;}
.yg_login{height: auto;background-color: #444444;padding: 10px 10px 15px;text-align: center;color: white;font-size: 14px;}
.yg_login>img{margin: 0px auto;width: 60px;height: 60px;background-color: #5CB85C;border-radius: 50%;border: none;margin-bottom: 10px;}
.header_btn{text-align: center;float: left;margin-left: 10px;width: 100px;border-right: 1px solid #fff;border-right: 1px solid #eee;height: 30px;line-height: 30px;}
.wytitle:hover{color: white;}

.fa-database,.fa-map-marker,.fa-book,.fa-bars,.fa-info-circle,.fa-cart-plus,.fa-desktop,.fa-product-hunt,.fa-life-ring,.fa-bars,.fa-recycle,.fa-cog,.fa-gift,.fa-binoculars,.fa-trophy,.fa-key{margin-right: 10px;}
.fa-bell,.fa-user{margin-right: 10px;}
.fa-compass{margin-right: 17px;}
.fa-money,.fa-car,.fa-cubes,.fa-line-chart,.fa-institution,.fa-shopping-cart,.fa-question-circle{margin-right: 10px;}
.fa-newspaper-o,.fa-book{margin-right: 10px;}
.fa-comment-o{margin-right: 10px;}
.fa-university{margin-right: 12px;}
.fa-graduation-cap{margin-right: 5px;}