{template 'public/header'}

{template 'public/comhead'}
<style type="text/css">
    #goodsinput{font-size: 14px;height: 33px;border-radius: 4px;border:1px solid #e7e7eb;padding-left: 10px;}
    .searchname{font-size: 14px;color: #666;width: 220px;}
    .searchname>a>p{color: #666;}
</style>
<link rel="stylesheet" type="text/css" href="../addons/{php echo $this->modulename}/template/public/ygcss.css">

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);"> 轮播图信息</a></li>
    <li><a href="{php echo $this->createWebUrl('ad',array('act'=>'index'));}"><i class="fa fa-refresh"></i>返回轮播图列表</a></li>
</ul>
<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                轮播图信息
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="{$info['title']}" maxlength="20" />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">跳转链接</label>
                    <div class="col-sm-9">
                        <input type="text" name="path" class="form-control" value="{$info['path']}"  />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">轮播图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('image', $info['image']);}
                        <span class="help-block">*建议比例 750*380</span>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="listorder" class="form-control" value="{php echo $info['listorder']?$info['listorder']:0;}" />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否发布</label>
                    <div class="col-sm-10">
                        <div class="form-control">
                        <label><input type="radio" value="1" name="status" {if $info['status']==1||empty($info['status'])}checked{/if}>是</label>
                        <label><input type="radio" value="2" name="status" {if $info['status']==2}checked{/if}>否 </label>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="form-group">

            <input type="submit" name="submit" value="保存设置" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="ad_id" value="{$info['ad_id']}" />

        </div>

    </form>

</div>

{template 'public/footer-js'}

<script type="text/javascript">

</script>