{template 'public/header'}

{template 'public/comhead'}

<link rel="stylesheet" type="text/css" href="../addons/{php echo $this->modulename}/template/public/ygcsslist.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li  {if $status=='all'} class="active" {/if}><a href="{php echo $this->createWebUrl('ad',array('act'=>'index','status'=>'all'));}">全部轮播图</a></li>
    <li   {if $status=='1'} class="active" {/if}><a href="{php echo $this->createWebUrl('ad',array('act'=>'index','status'=>1));}">已显示</a></li>
    <li   {if $status=='2'} class="active" {/if}><a href="{php echo $this->createWebUrl('ad',array('act'=>'index','status'=>2));}">已隐藏</a></li>


</ul>

<div class="main">

    <div class="panel panel-default">
        <div class="panel-heading">
            轮播图列表
        </div>
        <div class="panel-body" style="padding: 0px 15px;">
            <div class="row">
                <table class="yg5_tabel col-md-12">
                    <tr class="yg5_tr1" style="height: 50px;">
                        <td class="col-md-1">编号</td>
                        <td class="col-md-1">标题</td>
                        <td class="col-md-1">跳转链接</td>
                        <td class="col-md-1">图片</td>
                        <td class="col-md-1">添加时间</td>
                        <td class="col-md-1">显示状态</td>
                        <td class="col-md-1">排序</td>
                        <td class="col-md-2">操作</td>
                    </tr>
                    {loop $list $key $item}

                    <tr class="yg5_tr2">
                        <td>{$item['ad_id']}</td>
                        <td>{$item['title']}</td>
                        <td>{$item['path']}</td>

                        <td><img src="{php echo tomedia($item['image'])}" width="100px" /></td>
                        <td>{php echo date('Y-m-d H:i:s', $item['addtime'])}</td>
                        <td>
                            {if $item['status'] == 1}
                            <span class="label storeblue">已显示</span>
                            {elseif  $item['status'] == 2}
                            <span class="label storered">已隐藏</span>
                            {/if}
                        </td>

                        <td>{$item['listorder']}</td>
                        <td>

                        {if $item['status'] == 2}
                        <a href="javascript:operation('show',{$item['ad_id']});"><button class="btn storegrey btn-xs">显示</button></a>
                        {else}
                        <a href="javascript:operation('hide',{$item['ad_id']});"><button class="btn storegrey btn-xs">隐藏</button></a>
                        {/if}

                            <a href="{php echo $this->createWebUrl('ad',array('act'=>'add','ad_id'=>$item['ad_id']));}" class="storespan btn btn-xs">
                                <span class="fa fa-pencil"></span>
                                <span class="bianji">编辑
                                    <span class="arrowdown"></span>
                                </span>
                            </a>
                            <a href="javascript:void(0);" class="storespan btn btn-xs" data-toggle="modal" data-target="#myModal{$item['ad_id']}">
                                <span class="fa fa-trash-o"></span>
                                <span class="bianji">删除
                                    <span class="arrowdown"></span>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <div class="modal fade" id="myModal{$item['ad_id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel" style="font-size: 20px;">提示</h4>
                                </div>
                                <div class="modal-body" style="font-size: 20px">
                                    确定删除么？
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <a href="javascript:del({$item['ad_id']});" type="button" class="btn btn-info" >确定</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/loop}
                    {if empty($list)}
                    <tr class="yg5_tr2">
                        <td colspan="8">
                            暂无轮播图
                        </td>
                    </tr>
                    {/if}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-right we7-margin-top">
    {$pager}
</div>
{template 'public/footer-js'}
<script type="text/javascript">

    function operation(op,ad_id){
        $.ajax({
            type:"POST",
            url:"{php echo $this->createWebUrl('ad', array('act'=>'op'))}",
            dataType:"JSON",
            data:{op:op,ad_id:ad_id},
            success:function(res){
                if(res.type=='success'){
                    //$('#myModal'+ad_id).modal('hide');
                    //$('.data_'+ad_id).remove();
                    location.reload();
                }else{
                    alert('操作失败');
                }
            }
        })
    }

    function del(ad_id){
        $.ajax({
            type:"POST",
            url:"{php echo $this->createWebUrl('ad', array('act'=>'op','op'=>'del'))}",
            dataType:"JSON",
            data:{ad_id:ad_id},
            success:function(res){

                if(res.type=='success'){
                    //$('#myModal'+ad_id).modal('hide');
                    //$('.data_'+ad_id).remove();
                    location.reload();
                }else{
                    alert('操作失败');
                }
            }
        })
    }



</script>