{template 'public/header'}

{template 'public/comhead'}

<link rel="stylesheet" type="text/css" href="../addons/{php echo $this->modulename}/template/public/ygcss.css">


<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                基本设置
            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="pt_name" class="form-control" value="{$info['pt_name']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">后台顶部标题名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="link_name" class="form-control" value="{$info['link_name']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">后台顶部logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('link_logo', $info['link_logo'])}
                        <span class="help-block">*建议比例 1:1 (34*34)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部版权</label>
                    <div class="col-sm-9">
                        <input type="text" name="copyright" class="form-control" value="{$info['copyright']}" />
                        <span class="help-block">*如 Copyright&nbsp;©&nbsp;2018 景诺网络科技有限公司 版权所有</span>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">统计代码</label>
                    <div class="col-sm-4">
                        <textarea name="statsCode" class="form-control" placeholder="" cols="5" rows="7">{$info['statsCode']}</textarea>
                    </div>
                </div>



            </div>
        </div>
        <div class="form-group">

            <input type="submit" name="submit" value="保存设置" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />

        </div>

    </form>

</div>

{template 'public/footer-js'}