{template "admin/header"}
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>控制面板</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                   <a style="color: #03a9f3;" href="{url 'site/entry',array('eid'=>$_GPC['eid'],'p'=>'company_do')}"><i class="fa fa-plus"></i>&nbsp; 添加公司</a>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">


                <div class="row">
               <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">合作公司</strong>
                            </div>
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">ID</th>
                                            <th>标题</th>
                                            <th>排序</th>
                                            <th>时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									{loop $list $item}
                                        <tr>
                                            <td class="serial">{$item['id']}.</td>
                                            <td>  <span class="name">{$item['title']}</span> </td>
                                            <td>  <span class="name">{$item['listsort']}</span> </td>
                                            <td>  <span class="name">{php echo date('Y-m-d H:i:s',$item['addtime'])}</span> </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" style="color:#ffffff" href="{url 'site/entry',array('eid'=>$_GPC['eid'],'p'=>'company_do','id'=>$item['id'])}"><i class="fa fa-edit"></i>&nbsp; 编辑</a>
												<a class="btn btn-danger btn-sm" style="color:#ffffff" href="{url 'site/entry',array('eid'=>$_GPC['eid'],'p'=>'company_del','id'=>$item['id'])}"><i class="fa fa-trash-o"></i>&nbsp; 删除</a>
                                            </td>
                                        </tr>
									{/loop}
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
						<div style="text-align:center;">
						{$pager}
						</div>						
                    </div>
                  
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
	{template "admin/footer"}